<section
  class="home-banner others"
  style="background-image: url('images/about.jpeg')"
></section>

<section class="welcome about" style="text-align: justify">
  <div class="container">
    <div class="title" style="text-align: center">Our People</div>
    <div class="content">
      <p>
        Our firm is built around our people; our biggest asset. We recognize the
        value of having a talented and agile team with years of experience,
        which translates into value for our Clients.
      </p>
      <p>
        Our people are innovative, highly motivated and passionate about the
        success of our clients. We recognize the uniqueness of each of our
        people and we spare no expense in equipping and motivating our people.
      </p>
      <p>Our core values are People, Safety and Integrity.</p>
      <p>
        <strong>People</strong> - being an employer of choice for empowered
        individuals in a sustainable environment<br /><br />Safety - ensuring a
        safe and hazard-free working environment<br /><br />Integrity - we earn
        the trust of our Clients by honouring our commitment <br /><br />We
        approach our mandate of proffering excellent customer service with a
        high level of integrity.
      </p>
    </div>
  </div>
</section>

<section
  class="who-we-are about"
  style="background-image: url('images/mission.jpeg'); padding-top: 0"
>
  <div class="container">
    <div class="wrap">
      <div class="sec">
        <div class="title">
          <i class="fa fa-telegram" aria-hidden="true"></i> Mission
        </div>
        <div class="content">
          To create utmost value for all our stakeholders by consistently
          exceeding expectations and competitor's offering
        </div>
      </div>

      <div class="sec">
        <div class="title">
          <i class="fa fa-eye" aria-hidden="true"></i> Vision
        </div>
        <div class="content">
          To be the leading service provider in the Nigerian Oil and Gas
          industry by effectively and efficiently ensuring Client&#39;s
          satisfaction
        </div>
      </div>
    </div>
  </div>
</section>
