<section
  class="home-banner others"
  style="background-image: url('images/about.jpeg')"
></section>

<section class="info">
  <div
    class="img-sec"
    style="background-image: url('images/procurement.jpeg')"
  ></div>
  <div class="cont-sec">
    <div class="wrap">
      <div class="title">Our People</div>
      <div class="content">
        <p>
          Our firm is built around our people; our biggest asset. We recognize
          the value of having a talented and agile team with years of
          experience, which translates into value for our Clients.
        </p>
        <p>
          Our people are innovative, highly motivated and passionate about the
          success of our clients. We recognize the uniqueness of each of our
          people and we spare no expense in equipping and motivating our people.
        </p>
        <p>Our core values are People, Safety and Integrity.</p>
        <p>
          <strong>People</strong> - being an employer of choice for empowered
          individuals in a sustainable environment<br /><br />Safety - ensuring
          a safe and hazard-free working environment<br /><br />Integrity - we
          earn the trust of our Clients by honouring our commitment
          <br /><br />We approach our mandate of proffering excellent customer
          service with a high level of integrity.
        </p>
      </div>
    </div>
  </div>
</section>
