<section
  class="home-banner others"
  style="background-image: url('images/careers.jpg')"
></section>

<section class="welcome">
  <div class="container">
    <div class="title">Careers</div>
    <div class="content">
      <p>
        Marinuz Limited aims to be the work place of choice. We are passionate
        about people and place a high premium of people development. We are
        committed to the welfare of our people and creating rewarding careers
        for them. We not only aim to be the best place to work but also the
        coolest.
      </p>
      <p>
        At Marinuz, we continuously seek out talented individuals who fit our
        profile and who seek a rewarding career in an exciting marketplace. We
        encourage applicants to check our website and the social media for
        updates on open positions and to apply for positions to which they are
        best suited.
      </p>
      <p></p>
    </div>
  </div>
</section>
