<section class="home-banner">
  <div class="flexslider">
    <ul class="slides">
      <li style="background-image: url('https://ednut.github.io/marinuz/images/banner2.jpg')">
        <div class="overlay">
          <div class="oil-animation bubble">
            <div class="caption">We Offer</div>
            <div class="title">Marine & Offshore Support Services</div>
            <a ui-sref="contact" class="cta">Contact Us</a>
          </div>
        </div>
      </li>
      <li style="background-image: url('https://ednut.github.io/marinuz/images/banner1.jpg')">
        <div class="overlay">
          <div class="oil-animation bubble">
            <div class="caption">We Offer</div>
            <div class="title">Trading & Supply of Petroleum Products</div>
            <a ui-sref="contact" class="cta">Contact Us</a>
          </div>
        </div>
      </li>
      <li style="background-image: url('https://ednut.github.io/marinuz/images/banner3.jpg')">
        <div class="overlay">
          <div class="oil-animation bubble">
            <div class="caption">We Offer</div>
            <div class="title">We Provide Procurement Services</div>
            <a ui-sref="contact" class="cta">Contact Us</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="overview">
  <div class="section">
    <a href="">
      <div class="icon"><i class="ico ico-oil-tanker"></i></div>
      <div class="title">Marine & Offshore Support Services</div>
      <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod.
      </div>
      <div class="read-more">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>

  <div class="section">
    <a href="">
      <div class="icon"><i class="ico ico-refinery"></i></div>
      <div class="title">Trading & Supply of Petroleum Products</div>
      <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod.
      </div>
      <div class="read-more">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>

  <div class="section">
    <a href="">
      <div class="icon"><i class="ico ico-oil"></i></div>
      <div class="title">Procurement Services</div>
      <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod.
      </div>
      <div class="read-more">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>
</section>
<section class="welcome" style="background-image: url('https://ednut.github.io/marinuz/images/bg.jpeg')">
  <div class="container">
    <div class="title">Welcome to Marinuz</div>
    <div class="content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita eveniet
      dolores aperiam numquam illum voluptatum natus ducimus consequuntur, odio,
      amet quae perferendis, placeat quas dicta? Aperiam voluptates distinctio
      porro ipsa.
    </div>
    <a ui-sref="about" class="learn-more">Learn More</a>
  </div>
</section>
<section class="info">
  <div
    class="img-sec"
    style="background-image: url('https://ednut.github.io/marinuz/images/banner1.jpg')"
  ></div>
  <div class="cont-sec">
    <div class="wrap">
      <div class="title">Marine & Offshore Support Services</div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          deleniti reprehenderit saepe libero quo pariatur quidem dolores nobis
          quaerat magni ex culpa quisquam esse sunt consequuntur nisi quod dolor
          maiores.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          deleniti reprehenderit saepe libero quo pariatur quidem dolores nobis
          quaerat magni ex culpa quisquam esse sunt consequuntur nisi quod dolor
          maiores.
        </p>
      </div>
      <a href="" class="read-more">
        Read More <i class="fa fa-angle-right" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</section>
<section class="info">
  <div class="cont-sec order">
    <div class="wrap">
      <div class="title">Trading & Supply of Petroleum Products</div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          deleniti reprehenderit saepe libero quo pariatur quidem dolores nobis
          quaerat magni ex culpa quisquam esse sunt consequuntur nisi quod dolor
          maiores.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          deleniti reprehenderit saepe libero quo pariatur quidem dolores nobis
          quaerat magni ex culpa quisquam esse sunt consequuntur nisi quod dolor
          maiores.
        </p>
      </div>
      <a href="" class="read-more">
        Read More <i class="fa fa-angle-right" aria-hidden="true"></i
      ></a>
    </div>
  </div>
  <div
    class="img-sec"
    style="background-image: url('https://ednut.github.io/marinuz/images/banner2.jpg')"
  ></div>
</section>
<section class="info">
  <div
    class="img-sec"
    style="background-image: url('https://ednut.github.io/marinuz/images/banner2.jpg')"
  ></div>
  <div class="cont-sec">
    <div class="wrap">
      <div class="title">We Provide Procurement Services</div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          deleniti reprehenderit saepe libero quo pariatur quidem dolores nobis
          quaerat magni ex culpa quisquam esse sunt consequuntur nisi quod dolor
          maiores.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          deleniti reprehenderit saepe libero quo pariatur quidem dolores nobis
          quaerat magni ex culpa quisquam esse sunt consequuntur nisi quod dolor
          maiores.
        </p>
      </div>
      <a href="" class="read-more">
        Read More <i class="fa fa-angle-right" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</section>
<section
  class="welcome"
  style="
    background-image: url('https://ednut.github.io/marinuz/images/banner2.jpg');
    background-attachment: fixed;
  "
>
  <div class="overlay">
    <div class="container">
      <div class="title">Welcome to Marinuz</div>
      <div class="content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita
        eveniet dolores aperiam numquam illum voluptatum natus ducimus
        consequuntur, odio, amet quae perferendis, placeat quas dicta? Aperiam
        voluptates distinctio porro ipsa.
      </div>
      <a ui-sref="about" class="learn-more">Learn More</a>
    </div>
  </div>
</section>

<script>
  $('.flexslider').flexslider({
    animation: 'slide'
  });

  var d = new Date();
  var n = d.getFullYear();
  document.getElementById('year').innerHTML = n;
</script>
