<section class="home-banner">
  <div class="flexslider">
    <ul class="slides">
      <li style="background-image: url('images/banner2.jpg')">
        <div class="overlay">
          <div class="oil-animation bubble">
            <div class="caption">We Offer</div>
            <div class="title">Marine & Offshore Support Services</div>
            <a ui-sref="contact" class="cta">Contact Us</a>
          </div>
        </div>
      </li>
      <li style="background-image: url('images/banner1.jpg')">
        <div class="overlay">
          <div class="oil-animation bubble">
            <div class="caption">We Offer</div>
            <div class="title">Trading & Supply of Petroleum Products</div>
            <a ui-sref="contact" class="cta">Contact Us</a>
          </div>
        </div>
      </li>
      <li style="background-image: url('images/banner3.jpg')">
        <div class="overlay">
          <div class="oil-animation bubble">
            <div class="caption">We Offer</div>
            <div class="title">We Provide Procurement Services</div>
            <a ui-sref="contact" class="cta">Contact Us</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="overview">
  <div class="section">
    <a href="">
      <div class="icon"><i class="ico ico-oil-tanker"></i></div>
      <div class="title">Marine & Offshore Support Services</div>
      <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod.
      </div>
      <div class="read-more">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>

  <div class="section">
    <a href="">
      <div class="icon"><i class="ico ico-refinery"></i></div>
      <div class="title">Trading & Supply of Petroleum Products</div>
      <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod.
      </div>
      <div class="read-more">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>

  <div class="section">
    <a href="">
      <div class="icon"><i class="ico ico-oil"></i></div>
      <div class="title">Procurement Services</div>
      <div class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod.
      </div>
      <div class="read-more">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>
</section>
<script>
  $('.flexslider').flexslider({
    animation: 'slide'
  });

  var d = new Date();
  var n = d.getFullYear();
  document.getElementById('year').innerHTML = n;
</script>
