<section class="home-banner">
  <div class="flexslider">
    <ul class="slides">
      <li style="background-image: url('images/b1.jpeg')">
        <div class="overlay">
          <div class="oil-animation bubble">
            <div class="caption">Core Values</div>
            <div class="title">Connecting with PEOPLE</div>
            <a ui-sref="contact" class="cta">Contact Us</a>
          </div>
        </div>
      </li>
      <li style="background-image: url('images/b3.jpeg')">
        <div class="overlay">
          <div class="oil-animation bubble">
            <div class="caption">Core Values</div>
            <div class="title">SAFETY is no accident</div>
            <a ui-sref="contact" class="cta">Contact Us</a>
          </div>
        </div>
      </li>
      <li
        style="
          background-image: url('https://ednut.github.io/marinuz/images/banner2.jpg');
        "
      >
        <div class="overlay">
          <div class="oil-animation bubble">
            <div class="caption">Core Values</div>
            <div class="title">
              INTEGRITY is the first step to true greatness
            </div>
            <a ui-sref="contact" class="cta">Contact Us</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="overview">
  <div class="section">
    <a ui-sref="services">
      <div class="icon"><i class="ico ico-oil-tanker"></i></div>
      <div class="title">Marine Logistics & Offshore Support</div>
      <div class="content">
        Our marine & offshore logistics is well positioned to respond to the
        oilfield needs of our clients.
      </div>
      <div class="read-more">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>

  <div class="section">
    <a ui-sref="services">
      <div class="icon"><i class="ico ico-refinery"></i></div>
      <div class="title">Trading & Supply of Petroleum Products</div>
      <div class="content">
        We procure and supply petroleum products such as: PMS, AGO, DPK to both
        our upstream and downstream clients.
      </div>
      <div class="read-more">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>

  <div class="section">
    <a ui-sref="services">
      <div class="icon"><i class="ico ico-oil"></i></div>
      <div class="title">Procurement Services</div>
      <div class="content">
        Our wide network of technical partners and Original Equipment
        Manufacturers makes us capable of supplying our clients.
      </div>
      <div class="read-more">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>

  <div class="section">
    <a ui-sref="services">
      <div class="icon"><i class="ico ico-power-plant"></i></div>
      <div class="title">Manpower Supply and Management</div>
      <div class="content">
        Marinuz Limited deploy all levels of technical, operational and
        managerial professionals to oil and gas industry
      </div>
      <div class="read-more">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>
</section>
<section
  class="welcome"
  style="
    background-image: url('https://ednut.github.io/marinuz/images/bg.jpeg');
  "
>
  <div class="container">
    <div class="title">Who We Are</div>
    <div class="content">
      <p>
        Marinuz Limited was incorporated in 2018 as an Oil and Gas servicing
        company with a vision to provide professional marine and technical
        service to the Oil and Gas industry in Nigeria and the West African
        sub-region.
      </p>
      <p>
        Marinuz Limited is a 100% owned indigenous firm strategically positioned
        to achieve a sustainable competitive advantage to attain its vision. The
        integrity of the Directors and the staff of the company have been a
        priceless contributive factor in the growth and wellbeing of the
        company.
      </p>
    </div>
    <a ui-sref="about" class="learn-more">Learn More</a>
  </div>
</section>
<section
  class="who-we-are"
  style="background-image: url('images/mission.jpeg')"
>
  <div class="container">
    <div class="wrap">
      <div class="sec">
        <div class="title">
          <i class="fa fa-telegram" aria-hidden="true"></i> Mission
        </div>
        <div class="content">
          To create utmost value for all our stakeholders by consistently
          exceeding expectations and competitor's offering
        </div>
      </div>

      <div class="sec">
        <div class="title">
          <i class="fa fa-eye" aria-hidden="true"></i> Vision
        </div>
        <div class="content">
          To be the leading service provider in the Nigerian Oil and Gas
          industry by effectively and efficiently ensuring Client&#39;s
          satisfaction
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="welcome home"
  style="
    background-image: url('https://ednut.github.io/marinuz/images/banner2.jpg');
    background-attachment: fixed;
    padding: 7rem 0rem;
  "
>
  <div class="overlay">
    <div class="container">
      <div class="title">Welcome to Marinuz</div>
      <div class="content">
        <p>
          At Marinuz Limited, we are driven by a passion to ensure customer
          satisfaction. Our wide network of technical partners and Original
          Equipment Manufacturers (OEM) around the globe makes us capable of
          supplying our clients with the most comprehensive choice of equipment
          for their operations.
        </p>
        <p>
          Our customised approach combines unparalleled experience,
          comprehensive capabilities across various industries and business
          function, and close collaboration with the client. This enables our
          clients anticipate change, achieve sustainable competitive advantage
          and secure lasting results.
        </p>
      </div>
      <a ui-sref="about" class="learn-more">Learn More</a>
    </div>
  </div>
</section>
<section class="our-client">
  <div class="container">
    <div class="title">Our Clients</div>
    <ul>
      <li><img src="images/schiste.png" alt="schiste" /></li>
      <li><img src="images/seplat.png" alt="seplat" /></li>
    </ul>
  </div>
</section>

<script>
  $('.flexslider').flexslider({
    animation: 'slide'
  });

  var d = new Date();
  var n = d.getFullYear();
  document.getElementById('year').innerHTML = n;
</script>
