<section
  class="home-banner others"
  style="background-image: url('images/manpower.jpg')"
></section>

<section class="navigation">
  <div class="container">
    <ul>
      <li>
        <a ui-sref="services">Services <span>></span></a>
      </li>
      <li>Manpower Supply and Management</li>
    </ul>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="wrap">
      <div class="title">Manpower Supply and Management</div>
      <p>
        Marinuz Limited deploy all levels of technical, operational and
        managerial professionals to companies in the local and International oil
        and gas industry for positions consistent with the best interest of our
        clients. We engage a dedicated team of professional recruitment
        specialists with broad experience in the Oil &amp; Gas as well as other
        industries.
      </p>
      <p>
        We have an extensive database of highly skilled personnel and experts
        with vast years of cumulative experience. We provide Project Management
        Solutions to meet client’s project needs at every stage of the business
        process either through the life span of the project or at different
        stages of the project while keeping operating costs in-line with budget.
      </p>
    </div>
  </div>
</section>
