<section
  class="home-banner others"
  style="background-image: url('images/offshore.jpeg')"
></section>

<section class="navigation">
  <div class="container">
    <ul>
      <li>
        <a ui-sref="services">Services <span>></span></a>
      </li>
      <li>Marine Logistics & Offshore Support</li>
    </ul>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="wrap">
      <div class="title">Marine Logistics & Offshore Support</div>
      <p>
        Our marine & offshore logistics is well positioned to respond to the
        oilfield needs of our clients. We have at our disposal, the technology
        to deliver prompt and efficient services within our region of operations
        backed by the expertise of our technical partners and employees.
      </p>
      <p>
        We are capable of supplying the following types of vessels and much
        more:
      </p>

      <p class="heading">Anchor Handling Tug Supply Vessel</p>

      <p>
        Anchor Handling Tug Supply vessels are built to deploy and recover
        mooring systems for deepwater drilling rigs. These are highly
        specialized vessels that range in horsepower from 8,000 to 15,000 BHP
        (brake horsepower)
      </p>
      <p>
        With Dynamic Positioning capabilities and high cargo capacities, these
        powerful vessels double as rig and platform supply vessels that are
        capable of supporting any deepwater operation. State of the art
        electronics in the engine room, as well as the wheelhouse, allow these
        vessels to monitor and maintain equipment throughout all modes of
        service.
      </p>

      <p class="heading">Platform Supply Vessel</p>

      <p>
        Platform Supply Vessels range in length from 190 feet to 250 feet. These
        vessels provide the support needed for deepwater drilling and production
        operations. In addition, these vessels have the capability of handling
        the more typical construction and maintenance tasks of standard offshore
        supply vessels. Specifically designed to carry all the necessary
        equipment, material and catering supplies to enable the Rigs and
        Platforms to function. Transport a wide range of both liquid and dry
        (powder) cargoes in internal storage tanks and strengthened decks for
        carrying containers, drill pipes and other heavy equipment. Some have
        the capability (in varying degrees) for Towing and Fire Fighting.
      </p>

      <p class="heading">Supply Utility Vessel</p>

      <p>
        We provide Supply &amp; Utility Vessel for our clients for logistic
        support and transportation of goods, tools, equipment and personnel back
        and forth offshore oil platforms and other offshore structures.
      </p>

      <p class="heading">Crew Boats</p>

      <p>
        We provide anchored or dynamic positioned crew boats for transporting
        employees of client companies from the shore to offshore locations like
        drilling rigs, platforms and other remote installations offshore.
      </p>

      <p>
        Based on our strategic alliances in Maritime sector, we also have the
        ability to sort on a bare boat basis from different maritime hubs in the
        world.
      </p>
    </div>
  </div>
</section>
