<section
  class="home-banner others"
  style="background-image: url('images/delivery.jpg')"
></section>

<section class="navigation">
  <div class="container">
    <ul>
      <li>
        <a ui-sref="services">Services</a>
        <span>></span>
      </li>
      <li>Procurement Services</li>
    </ul>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="wrap">
      <div class="title">Procurement Services</div>
      <p>
        Our wide network of technical partners and Original Equipment
        Manufacturers (OEM) around the globe makes us capable of supplying our
        clients with the most comprehensive choice of
      </p>
      <ul>
        <li>Machinery</li>
        <li>Instruments</li>
        <li>Safety equipment</li>
        <li>Tools</li>
        <li>Materials</li>
        <li>Chemicals</li>
        <li>
          Other consumables, to the energy, manufacturing, power, construction,
          service and allied sectors of the Nigerian economy.
        </li>
      </ul>
      <p>
        To complement our Supply Chain Management service, we use the best and
        latest business management software within our procurement solution, to
        be able to offer all our clients full implementation and support,
        focusing on their purchasing needs and requirements.
      </p>

      <p>
        Understanding the need to keep client operation running, procurement is
        a key element in response to the demands of an ever increasingly
        demanding market place. Therefore, using the best that technology has to
        offer increases the competitiveness of our procurement solution, also
        providing us greater visibility and control.
      </p>
      <p>
        Because of this, the level of procurement services we provide our
        clients will afford them the following:
      </p>

      <ul>
        <li>Increased operation efficiency and timely delivery</li>
        <li>Exceptional customer service</li>
        <li>Reduced cost</li>
        <li>Reduced risk</li>
        <li>Value added services</li>
      </ul>

      <p>
        Be it locally of internationally, we source our products from reputable
        manufacturers or their appointed representatives. This has sustained our
        growing tradition of servicing every purchase order with every high
        quality and standard products, to the utmost satisfaction of our highly
        valued clients.
      </p>
    </div>
  </div>
</section>
