<section
  class="home-banner others"
  style="background-image: url('images/services.jpeg')"
></section>

<section
  class="welcome services"
  style="
    background-image: url('https://ednut.github.io/marinuz/images/bg.jpeg');
  "
>
  <div class="container">
    <div class="title">Our Services</div>
    <div class="content">
      At marinuz we offer the best services Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Accusamus eligendi, suscipit dolor
      cupiditate, minus commodi a in asperiores facere aspernatur, eius vero
      iure dolorem mollitia incidunt nobis libero. Dolores, ut.
    </div>
  </div>
</section>

<section class="info">
  <div
    class="img-sec"
    style="
      background-image: url('https://ednut.github.io/marinuz/images/banner1.jpg');
    "
  ></div>
  <div class="cont-sec">
    <div class="wrap">
      <div class="title">Marine & Offshore Support Services</div>
      <div class="content">
        <p>
          Our marine & offshore logistics is well positioned to respond to the
          oilfield needs of our clients. We have at our disposal, the technology
          to deliver prompt and efficient services within our region of
          operations backed by the expertise of our technical partners and
          employees.
        </p>
        <p>
          We are capable of supplying the following types of vessels and much
          more:
        </p>
      </div>
      <a ui-sref="offshore" class="read-more">
        Read More <i class="fa fa-angle-right" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</section>
<section class="info">
  <div class="cont-sec order">
    <div class="wrap">
      <div class="title">Trading & Supply of Petroleum Products</div>
      <div class="content">
        <p>
          We procure and supply petroleum products such as: Premium Motor Spirit
          (PMS), Automotive Gasoline Oil (AGO), Dual Purpose Kerosene (DPK) to
          both our upstream and downstream clients. We have developed a
          reputation for providing high quality and reliable services to our
          customers. This exceptional delivery record and operational
          performance has resulted in developing an extensive network of
          customers and suppliers worldwide.
        </p>
        <p>
          In handling the products we supply, our management ensures that we
          observe all international environment, Health and Safety Standards.
        </p>
      </div>
      <!-- <a href="" class="read-more">
        Read More <i class="fa fa-angle-right" aria-hidden="true"></i
      ></a> -->
    </div>
  </div>
  <div
    class="img-sec"
    style="
      background-image: url('https://ednut.github.io/marinuz/images/banner2.jpg');
    "
  ></div>
</section>
<section class="info">
  <div
    class="img-sec"
    style="
      background-image: url('https://ednut.github.io/marinuz/images/banner2.jpg');
    "
  ></div>
  <div class="cont-sec">
    <div class="wrap">
      <div class="title">We Provide Procurement Services</div>
      <div class="content">
        <p>
          Our wide network of technical partners and Original Equipment
          Manufacturers (OEM) around the globe makes us capable of supplying our
          clients with the most comprehensive choice of equipment, machinery,
          instruments, tools, spares, materials, chemicals, other consumables,
          etc. to the energy, manufacturing, power, service and allied sectors
          of the Nigerian economy.
        </p>
        <p>
          To complement our Supply Chain Management service, we use the best and
          latest business management software within our procurement solution,
          to be able to offer all our clients full implementation and support,
          focusing on their purchasing needs and requirements.
        </p>
      </div>
      <a ui-sref="procurement" class="read-more">
        Read More <i class="fa fa-angle-right" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</section>
