<section
  class="home-banner others"
  style="background-image: url('images/services.jpeg')"
></section>

<section
  class="welcome"
  style="
    background-image: url('https://ednut.github.io/marinuz/images/bg.jpeg');
  "
>
  <div class="container">
    <div class="title">Our services</div>
    <div class="content">
      At marinuz we offer the best services Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Accusamus eligendi, suscipit dolor
      cupiditate, minus commodi a in asperiores facere aspernatur, eius vero
      iure dolorem mollitia incidunt nobis libero. Dolores, ut.
    </div>
  </div>
</section>

<section class="info">
  <div
    class="img-sec"
    style="
      background-image: url('https://ednut.github.io/marinuz/images/banner1.jpg');
    "
  ></div>
  <div class="cont-sec">
    <div class="wrap">
      <div class="title">Marine & Offshore Support Services</div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          deleniti reprehenderit saepe libero quo pariatur quidem dolores nobis
          quaerat magni ex culpa quisquam esse sunt consequuntur nisi quod dolor
          maiores.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          deleniti reprehenderit saepe libero quo pariatur quidem dolores nobis
          quaerat magni ex culpa quisquam esse sunt consequuntur nisi quod dolor
          maiores.
        </p>
      </div>
      <a href="" class="read-more">
        Read More <i class="fa fa-angle-right" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</section>
<section class="info">
  <div class="cont-sec order">
    <div class="wrap">
      <div class="title">Trading & Supply of Petroleum Products</div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          deleniti reprehenderit saepe libero quo pariatur quidem dolores nobis
          quaerat magni ex culpa quisquam esse sunt consequuntur nisi quod dolor
          maiores.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          deleniti reprehenderit saepe libero quo pariatur quidem dolores nobis
          quaerat magni ex culpa quisquam esse sunt consequuntur nisi quod dolor
          maiores.
        </p>
      </div>
      <a href="" class="read-more">
        Read More <i class="fa fa-angle-right" aria-hidden="true"></i
      ></a>
    </div>
  </div>
  <div
    class="img-sec"
    style="
      background-image: url('https://ednut.github.io/marinuz/images/banner2.jpg');
    "
  ></div>
</section>
<section class="info">
  <div
    class="img-sec"
    style="
      background-image: url('https://ednut.github.io/marinuz/images/banner2.jpg');
    "
  ></div>
  <div class="cont-sec">
    <div class="wrap">
      <div class="title">We Provide Procurement Services</div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          deleniti reprehenderit saepe libero quo pariatur quidem dolores nobis
          quaerat magni ex culpa quisquam esse sunt consequuntur nisi quod dolor
          maiores.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          deleniti reprehenderit saepe libero quo pariatur quidem dolores nobis
          quaerat magni ex culpa quisquam esse sunt consequuntur nisi quod dolor
          maiores.
        </p>
      </div>
      <a href="" class="read-more">
        Read More <i class="fa fa-angle-right" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</section>
