<section
  class="home-banner others"
  style="background-image: url('images/tanker.jpg')"
></section>

<section class="navigation">
  <div class="container">
    <ul>
      <li>
        <a ui-sref="services">Services <span>></span></a>
      </li>
      <li>Trading & Supply of Petroleum Products</li>
    </ul>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="wrap">
      <div class="title">Trading & Supply of Petroleum Products</div>
      <p>
        We procure and supply petroleum products such as: Premium Motor Spirit
        (PMS), Automotive Gasoline Oil (AGO), Dual Purpose Kerosene (DPK) to
        both our upstream and downstream clients. We have developed a reputation
        for providing high quality and reliable services to our customers. This
        exceptional delivery record and operational performance has resulted in
        developing an extensive network of customers and suppliers worldwide.
      </p>
      <p>
        In handling the products we supply, our management ensures that we
        observe all international environment, Health and Safety Standards.
      </p>
    </div>
  </div>
</section>
