#main {
  overflow: hidden;
}

.hide-on-mobile {
  display: inline-block !important;
}

@media (max-width: 991px) {
  .hide-on-mobile {
    display: none !important;
  }
}

.hide-on-desktop {
  display: none !important;
}

@media (max-width: 991px) {
  .hide-on-desktop {
    display: inline-block !important;
  }
}

.mt-0 {
  margin-top: 0;
}

a,
button {
  text-decoration: none;
  outline: none;
}

a {
  color: #040100;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #040100;
  background-color: #f7faff;
}

.container {
  width: 80%;
  margin: auto;
}

@media (max-width: 991px) {
  .container {
    width: 90%;
  }
}

header {
  height: 5rem;
  line-height: 5rem;
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 1000;
  top: 0;
}

header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .header-wrap--logo-section {
  width: 20%;
  text-align: left;
}

header .header-wrap--logo-section a {
  color: #f18920;
  font-weight: 400;
  text-transform: uppercase;
}

header .header-wrap--logo-section img {
  width: 9rem;
  margin-top: 9px;
}

@media (max-width: 991px) {
  header .header-wrap--logo-section img {
    width: 7rem;
  }
}

header .header-wrap--link-section {
  width: 80%;
}

header .header-wrap--link-section ul {
  text-align: right;
  margin: 0;
  padding: 0;
}

header .header-wrap--link-section ul li {
  display: inline-block;
  margin-left: 40px;
}

header .header-wrap--link-section ul li a {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  display: inline-block;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}

header .header-wrap--link-section ul li.bugger-menu {
  width: 30px;
  cursor: pointer;
}

header .header-wrap--link-section ul li.bugger-menu .line {
  display: block;
  width: 100%;
  height: 5px;
  margin-bottom: 2px;
  background-color: #ffffff;
  border-radius: 5px;
}

header .header-wrap--link-section ul li.bugger-menu .line:first-child {
  margin-top: 15px;
}

.mobile-header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  display: none;
  z-index: 1000;
}

.mobile-header .title {
  background-color: #fff;
  text-align: right;
  padding: 20px 20px;
}

@media (max-width: 991px) {
  .mobile-header .title {
    padding: 20px 20px 0 20px;
  }
}

.mobile-header .title img {
  width: 80px;
}

.mobile-header ul {
  text-align: center;
  padding: 0 0 25px 0;
}

.mobile-header ul li {
  display: block;
}

.mobile-header ul li a {
  color: #040100;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  padding: 15px 0;
  display: block;
  border-bottom: 2px solid transparent;
  position: relative;
}

.home-banner {
  background-color: #fbfefd;
  height: 110vh;
}

@media (max-width: 991px) {
  .home-banner {
    height: auto;
  }
}

.home-banner.others {
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home-banner .flexslider {
  border: none;
  margin-bottom: 0;
}

.home-banner .flexslider .flex-control-nav {
  display: none;
}

.home-banner .flexslider .slides li {
  height: 110vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

@media (max-width: 991px) {
  .home-banner .flexslider .slides li {
    height: 70vh;
  }
}

.home-banner .flexslider .slides li .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  text-align: center;
  padding: 7rem 0 0 10rem;
}

@media (max-width: 991px) {
  .home-banner .flexslider .slides li .overlay {
    padding: 5rem 0 0 0;
  }
}

.home-banner .oil-animation {
  z-index: 13;
  background: -webkit-gradient(linear, left top, left bottom, from(#dd9044), to(#dd4454));
  background: linear-gradient(#dd9044 0%, #dd4454 100%);
  font-family: Roboto;
  visibility: visible;
  text-align: left;
  line-height: 15px;
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 12px;
  border-color: #999999;
  border-style: none;
  margin: 0px;
  border-radius: 58.3021% 46.2713% 39.7133% 63.5035% / 51.7441% 54.7441% 47.9692% 40.1161%;
  padding: 0px;
  color: white;
  text-decoration: none;
  white-space: normal;
  width: 740px;
  height: 645px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform-origin: 50% 50% 0px;
          transform-origin: 50% 50% 0px;
  -webkit-animation: bubble 5s linear infinite;
          animation: bubble 5s linear infinite;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  color: #fff;
  position: relative;
  opacity: 0.8;
}

@media (max-width: 991px) {
  .home-banner .oil-animation {
    width: 90%;
    height: 90%;
    margin: auto;
  }
}

.home-banner .oil-animation .caption {
  font-size: 16px;
  white-space: nowrap;
  position: absolute;
  top: 11rem;
  left: 5rem;
}

@media (max-width: 991px) {
  .home-banner .oil-animation .caption {
    top: 5rem;
    left: 4rem;
  }
}

.home-banner .oil-animation .title {
  font-size: 65px;
  line-height: 78px;
  white-space: normal;
  position: absolute;
  top: 14rem;
  left: 4rem;
}

@media (max-width: 991px) {
  .home-banner .oil-animation .title {
    font-size: 25px;
    line-height: 35px;
    top: 7rem;
    left: 4rem;
  }
}

.home-banner .oil-animation .cta {
  display: block;
  position: absolute;
  color: #ffffff;
  top: 27rem;
  left: 4rem;
  border: 1px solid;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 16px;
}

@media (max-width: 991px) {
  .home-banner .oil-animation .cta {
    top: 13rem;
    left: 4rem;
  }
}

.home-banner .bubble {
  -webkit-animation: bubble 5s linear infinite;
          animation: bubble 5s linear infinite;
}

@-webkit-keyframes bubble {
  0%,
  100% {
    border-radius: 64% 46% 37% 73% / 55% 58% 42% 45%;
  }
  25% {
    border-radius: 43% 47% 47% 38% / 43% 46% 64% 27%;
  }
  50% {
    border-radius: 48% 72% 44% 56% / 49% 40% 60% 51%;
  }
  75% {
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
}

@keyframes bubble {
  0%,
  100% {
    border-radius: 64% 46% 37% 73% / 55% 58% 42% 45%;
  }
  25% {
    border-radius: 43% 47% 47% 38% / 43% 46% 64% 27%;
  }
  50% {
    border-radius: 48% 72% 44% 56% / 49% 40% 60% 51%;
  }
  75% {
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
}

.overview {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 991px) {
  .overview {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.overview a {
  color: #ffffff;
  text-decoration: none;
}

.overview .section {
  width: 33.33%;
  padding: 2rem;
}

@media (max-width: 991px) {
  .overview .section {
    width: 100%;
  }
}

.overview .section:nth-child(1) {
  background-color: #042b3e;
}

.overview .section:nth-child(2) {
  background-color: #053043;
}

.overview .section:nth-child(3) {
  background-color: #063549;
}

.overview .section .icon {
  background: -webkit-gradient(linear, left bottom, left top, from(#dd4454), to(#dd9044));
  background: linear-gradient(to top, #dd4454 0%, #dd9044 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.overview .section .icon i {
  font-size: 3rem;
}

.overview .section .title {
  font-size: 21px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 2rem;
  min-height: 50px;
  position: relative;
}

.overview .section .title::after {
  content: '';
  width: 30%;
  height: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(#dd4454), to(#dd9044));
  background: linear-gradient(to top, #dd4454 0%, #dd9044 100%);
  position: absolute;
  bottom: -10px;
  left: 0;
}

.overview .section .content {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 2rem;
  min-height: 76px;
}

@media (max-width: 991px) {
  .overview .section .content {
    min-height: auto;
  }
}

.overview .section .read-more {
  color: #ffffff;
  display: inline-block;
  border: 1px solid;
  height: 30px;
  border-radius: 50%;
  width: 30px;
  text-align: center;
}

.overview .section .read-more i {
  color: #ffffff;
  font-size: 25px;
  display: block;
  padding-top: 2px;
}

.welcome {
  min-height: 10rem;
  height: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 7rem 2rem;
  position: relative;
}

@media (max-width: 991px) {
  .welcome {
    padding: 2rem 0rem;
    min-height: 25rem;
    height: auto;
  }
}

.welcome.home {
  min-height: 13rem;
}

@media (max-width: 991px) {
  .welcome.services {
    padding: 2rem 0rem;
    min-height: 10rem;
    height: auto;
  }
}

@media (max-width: 991px) {
  .welcome.about {
    padding: 2rem 0rem;
  }
}

.welcome .title {
  color: #040100;
  font-size: 30px;
  margin-bottom: 2rem;
}

.welcome .content {
  margin-bottom: 2rem;
  font-size: 16px;
  color: #040100;
}

.welcome .learn-more {
  background-image: -webkit-gradient(linear, left top, right top, from(#dd4454), color-stop(50%, #dd9044), to(#dd4454));
  background-image: linear-gradient(to right, #dd4454 0%, #dd9044 50%, #dd4454 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
}

.welcome .learn-more:hover {
  -webkit-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}

.welcome .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6rem 2rem 2rem 2rem;
}

@media (max-width: 991px) {
  .welcome .overlay {
    padding: 3rem 1rem;
  }
}

.welcome .overlay .title {
  color: #ffffff;
}

.welcome .overlay .content {
  color: #ffffff;
}

.contact {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

@media (max-width: 991px) {
  .contact {
    margin-top: 3rem;
  }
}

.contact .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .contact .contact-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .contact-wrap .map {
  width: 45%;
  overflow: hidden;
}

@media (max-width: 991px) {
  .contact .contact-wrap .map {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.contact .contact-wrap .form {
  width: 45%;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .contact .contact-wrap .form {
    width: 100%;
  }
}

.contact .contact-wrap .form .title {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.contact .contact-wrap .form .caption {
  margin-bottom: 1rem;
}

.contact .contact-wrap .form form {
  width: 100%;
  display: block;
}

.contact .contact-wrap .form form .form-wrap {
  margin-bottom: 1rem;
}

.contact .contact-wrap .form form .form-wrap input {
  border: 1px solid #e0e0e0;
  padding: 20px;
  width: 100%;
  font-size: 1rem;
  outline: none;
}

.contact .contact-wrap .form form .form-wrap textarea {
  border: 1px solid #e0e0e0;
  padding: 20px;
  width: 100%;
  height: 5rem;
  font-size: 1rem;
  font-family: 'Muli', sans-serif;
  outline: none;
}

.contact .contact-wrap .form form .form-wrap button {
  color: #fff;
  background-color: #f18920;
  padding: 16px 20px;
  border: 1px solid transparent;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  text-transform: uppercase;
  outline: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

.contact .contact-wrap .form form .form-wrap.half {
  display: block;
}

.contact .contact-wrap .form form .form-wrap.half input {
  width: 100%;
  margin-bottom: 1rem;
}

.navigation {
  padding: 2rem 0;
  background: #efefef;
  margin-bottom: 3rem;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  color: #f18920;
}

.navigation ul li a span {
  color: #f18920;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 991px) {
  .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.info .img-sec {
  width: 50%;
  height: 35rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 991px) {
  .info .img-sec {
    width: 100%;
    height: 15rem;
  }
}

.info .cont-sec {
  width: 50%;
}

@media (max-width: 991px) {
  .info .cont-sec {
    width: 100%;
  }
}

.info .cont-sec .wrap {
  padding: 4rem;
}

@media (max-width: 991px) {
  .info .cont-sec .wrap {
    padding: 2rem;
  }
}

.info .cont-sec .title {
  font-size: 42px;
  color: #040100;
  margin-bottom: 2rem;
  font-weight: 600;
  margin-top: 4rem;
}

@media (max-width: 991px) {
  .info .cont-sec .title {
    font-size: 30px;
    margin-top: 0rem;
  }
}

.info .cont-sec .content {
  font-size: 16px;
  color: #999;
  margin-bottom: 2rem;
}

.info .cont-sec .read-more {
  background: -webkit-gradient(linear, left bottom, left top, from(#dd4454), to(#dd9044));
  background: linear-gradient(to top, #dd4454 0%, #dd9044 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

@media (max-width: 991px) {
  .info .cont-sec.order {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.content {
  position: relative;
  margin-bottom: 4rem;
}

.content .title {
  font-size: 42px;
  color: #040100;
  margin-bottom: 2rem;
}

.content p.heading {
  font-weight: 500;
  margin-top: 2rem;
  display: block;
  font-size: 1.3rem;
  color: #f18920;
}

.who-we-are {
  padding: 5rem 0;
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 991px) {
  .who-we-are {
    background-image: none !important;
    min-height: auto;
    padding: 2rem 0;
  }
}

.who-we-are .wrap {
  width: 50%;
  margin-top: 6rem;
}

@media (max-width: 991px) {
  .who-we-are .wrap {
    width: 100%;
    margin-top: 1rem;
  }
}

.who-we-are .wrap i {
  background: -webkit-gradient(linear, left bottom, left top, from(#dd4454), to(#dd9044));
  background: linear-gradient(to top, #dd4454 0%, #dd9044 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.who-we-are .wrap .title {
  font-size: 30px;
  margin-bottom: 1rem;
}

.who-we-are .wrap .content {
  font-size: 16px;
}

.who-we-are.about .wrap {
  padding-top: 10rem;
  margin-top: 0;
}

@media (max-width: 991px) {
  .who-we-are.about .wrap {
    padding-top: 1rem;
    margin-top: 0rem;
  }
}

.our-client {
  padding: 5rem 0;
  background-color: #ffffff;
  text-align: center;
}

@media (max-width: 991px) {
  .our-client {
    padding: 3rem 0;
  }
}

.our-client .title {
  font-size: 30px;
  margin-bottom: 4rem;
}

.our-client ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.our-client ul li {
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 0;
  border: 2px solid #f2f5f7;
  padding: 50px;
  vertical-align: bottom;
}

@media (max-width: 991px) {
  .our-client ul li {
    margin-bottom: 2rem;
    margin-right: 0rem;
  }
}

.our-client ul li:nth-child(1) img {
  width: 120px;
}

.our-client ul li:nth-child(2) {
  padding: 22px 50px;
}

@media (max-width: 991px) {
  .our-client ul li:nth-child(2) {
    padding: 22px 70px;
  }
}

.our-client ul li:nth-child(2) img {
  width: 80px;
}

footer {
  border-top: 1px solid #040100;
  padding: 30px 0 5px 0;
  position: relative;
  background-color: #040100;
  color: #ffffff;
}

@media (max-width: 991px) {
  footer {
    padding: 50px 0 50px 0;
  }
}

footer .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: justify;
}

@media (max-width: 991px) {
  footer .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .wrap .copy {
  width: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
}

@media (max-width: 991px) {
  footer .wrap .copy {
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

footer .wrap .social {
  width: 50%;
}

footer .wrap .social ul {
  text-align: right;
  margin-top: 0;
}

@media (max-width: 991px) {
  footer .wrap .social ul {
    text-align: center;
    margin-top: 30px;
    padding-left: 0;
  }
}

footer .wrap .social ul li {
  display: inline-block;
  margin-left: 20px;
  color: #ffffff;
}

@media (max-width: 991px) {
  footer .wrap .social ul li {
    margin-right: 20px;
    margin-left: 0;
  }
  footer .wrap .social ul li.privacy-link {
    display: block;
    margin-bottom: 1rem;
  }
}

footer .wrap .social ul li a {
  display: inline-block;
  vertical-align: text-top;
  color: #ffffff;
}

footer .wrap .social ul li a span {
  display: inline-block;
  margin-left: 1rem;
}

footer .wrap .social ul li a i {
  font-size: 23px;
}

footer .wrap .social ul li a img {
  width: 25px;
}

@media (max-width: 991px) {
  footer .wrap .social {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */