$text-color: #040100;
$brand-color: #f18920;
$white: #ffffff;
$header-height: 5rem;

#main {
  overflow: hidden;
}
.hide-on-mobile {
  display: inline-block !important;
  @media (max-width: 991px) {
    display: none !important;
  }
}
.hide-on-desktop {
  display: none !important;
  @media (max-width: 991px) {
    display: inline-block !important;
  }
}
.mt-0 {
  margin-top: 0;
}
a,
button {
  text-decoration: none;
  outline: none;
}

a {
  color: $text-color;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: $text-color;
  background-color: #f7faff;
}

.container {
  width: 80%;
  margin: auto;
  @media (max-width: 991px) {
    width: 90%;
  }
}

header {
  height: $header-height;
  line-height: $header-height;
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 1000;
  top: 0;
  .header-wrap {
    display: flex;
    flex-direction: row;
    &--logo-section {
      width: 20%;
      text-align: left;
      a {
        color: $brand-color;
        font-weight: 400;
        text-transform: uppercase;
      }
      img {
        width: 9rem;
        margin-top: 9px;
        @media (max-width: 991px) {
          width: 7rem;
        }
      }
    }
    &--link-section {
      width: 80%;
      ul {
        text-align: right;
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          margin-left: 40px;
          a {
            color: $white;
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            display: inline-block;
            border-bottom: 2px solid transparent;
            text-transform: uppercase;
          }
          &.bugger-menu {
            width: 30px;
            cursor: pointer;
            .line {
              display: block;
              width: 100%;
              height: 5px;
              margin-bottom: 2px;
              background-color: $white;
              border-radius: 5px;
              &:first-child {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.mobile-header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  display: none;
  z-index: 1000;
  .title {
    background-color: #fff;
    text-align: right;
    padding: 20px 20px;
    @media (max-width: 991px) {
      padding: 20px 20px 0 20px;
    }
    img {
      width: 80px;
    }
  }
  ul {
    text-align: center;
    padding: 0 0 25px 0;
    li {
      display: block;
      a {
        color: $text-color;
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        padding: 15px 0;
        display: block;
        border-bottom: 2px solid transparent;
        position: relative;
      }
    }
  }
}

.home-banner {
  background-color: #fbfefd;
  height: 110vh;
  @media (max-width: 991px) {
    height: auto;
  }
  &.others {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .flexslider {
    border: none;
    margin-bottom: 0;
    .flex-control-nav {
      display: none;
    }
    .slides {
      li {
        height: 110vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        @media (max-width: 991px) {
          height: 70vh;
        }
        .overlay {
          position: absolute;
          background-color: rgba(0, 0, 0, 0);
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          color: #fff;
          text-align: center;
          padding: 7rem 0 0 10rem;
          @media (max-width: 991px) {
            padding: 5rem 0 0 0;
          }
        }
      }
    }
  }
  .oil-animation {
    z-index: 13;
    background: linear-gradient(rgb(221, 144, 68) 0%, rgb(221, 68, 84) 100%);
    font-family: Roboto;
    visibility: visible;
    text-align: left;
    line-height: 15px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 12px;
    border-color: rgb(153, 153, 153);
    border-style: none;
    margin: 0px;
    border-radius: 58.3021% 46.2713% 39.7133% 63.5035% / 51.7441% 54.7441%
      47.9692% 40.1161%;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    width: 740px;
    height: 645px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    animation: bubble 5s linear infinite;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    color: #fff;
    position: relative;
    opacity: 0.8;
    @media (max-width: 991px) {
      width: 90%;
      height: 90%;
      margin: auto;
    }
    .caption {
      font-size: 16px;
      white-space: nowrap;
      position: absolute;
      top: 11rem;
      left: 5rem;
      @media (max-width: 991px) {
        top: 5rem;
        left: 4rem;
      }
    }
    .title {
      font-size: 65px;
      line-height: 78px;
      white-space: normal;
      position: absolute;
      top: 14rem;
      left: 4rem;
      @media (max-width: 991px) {
        font-size: 25px;
        line-height: 35px;
        top: 7rem;
        left: 4rem;
      }
    }
    .cta {
      display: block;
      position: absolute;
      color: $white;
      top: 27rem;
      left: 4rem;
      border: 1px solid;
      padding: 1rem 2rem;
      border-radius: 2rem;
      font-size: 16px;
      @media (max-width: 991px) {
        top: 13rem;
        left: 4rem;
      }
    }
  }
  .bubble {
    animation: bubble 5s linear infinite;
  }

  @keyframes bubble {
    0%,
    100% {
      border-radius: 64% 46% 37% 73% / 55% 58% 42% 45%;
    }
    25% {
      border-radius: 43% 47% 47% 38% / 43% 46% 64% 27%;
    }
    50% {
      border-radius: 48% 72% 44% 56% / 49% 40% 60% 51%;
    }
    75% {
      border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
    }
  }
}

.overview {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
  a {
    color: $white;
    text-decoration: none;
  }
  .section {
    // flex-grow: 1;
    width: 33.33%;
    padding: 2rem;
    @media (max-width: 991px) {
      width: 100%;
    }
    &:nth-child(1) {
      background-color: #042b3e;
    }
    &:nth-child(2) {
      background-color: #053043;
    }
    &:nth-child(3) {
      background-color: #063549;
    }
    .icon {
      background: linear-gradient(to top, #dd4454 0%, #dd9044 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 2rem;
      i {
        font-size: 3rem;
      }
    }
    .title {
      font-size: 21px;
      font-weight: 600;
      color: $white;
      margin-bottom: 2rem;
      min-height: 50px;
      position: relative;
      &::after {
        content: '';
        width: 30%;
        height: 2px;
        background: linear-gradient(to top, #dd4454 0%, #dd9044 100%);
        position: absolute;
        bottom: -10px;
        left: 0;
      }
    }
    .content {
      font-size: 16px;
      color: $white;
      font-weight: 400;
      margin-bottom: 2rem;
    }
    .read-more {
      color: $white;
      display: inline-block;
      border: 1px solid;
      height: 30px;
      border-radius: 50%;
      width: 30px;
      text-align: center;
      i {
        color: $white;
        font-size: 25px;
        display: block;
        padding-top: 2px;
      }
    }
  }
}

.welcome {
  min-height: 10rem;
  height: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 7rem 2rem;
  position: relative;
  @media (max-width: 991px) {
    padding: 2rem 0rem;
    min-height: 25rem;
    height: auto;
  }
  &.home {
    min-height: 13rem;
  }
  &.services {
    @media (max-width: 991px) {
      padding: 2rem 0rem;
      min-height: 10rem;
      height: auto;
    }
  }
  &.about {
    @media (max-width: 991px) {
      padding: 2rem 0rem;
    }
  }
  .title {
    color: $text-color;
    font-size: 30px;
    margin-bottom: 2rem;
  }
  .content {
    margin-bottom: 2rem;
    font-size: 16px;
    color: $text-color;
  }
  .learn-more {
    background-image: linear-gradient(
      to right,
      #dd4454 0%,
      #dd9044 50%,
      #dd4454 100%
    );
    transition: 0.5s;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 16px;
    color: $white;
    font-weight: 500;
    display: inline-block;
    &:hover {
      transition: all 0.15s linear 0s;
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6rem 2rem 2rem 2rem;
    @media (max-width: 991px) {
      padding: 3rem 1rem;
    }
    .title {
      color: $white;
    }
    .content {
      color: $white;
    }
  }
}

.contact {
  margin-top: 10rem;
  margin-bottom: 5rem;
  @media (max-width: 991px) {
    margin-top: 3rem;
  }
  .contact-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .map {
      width: 45%;
      overflow: hidden;
      @media (max-width: 991px) {
        width: 100%;
        order: 2;
      }
      iframe {
      }
    }
    .form {
      width: 45%;
      margin-bottom: 1rem;
      @media (max-width: 991px) {
        width: 100%;
      }
      .title {
        font-size: 2rem;
        font-weight: 100;
        margin-bottom: 1rem;
      }
      .caption {
        margin-bottom: 1rem;
      }
      form {
        width: 100%;
        display: block;
        .form-wrap {
          margin-bottom: 1rem;
          input {
            border: 1px solid #e0e0e0;
            padding: 20px;
            width: 100%;
            font-size: 1rem;
            outline: none;
          }
          textarea {
            border: 1px solid #e0e0e0;
            padding: 20px;
            width: 100%;
            height: 5rem;
            font-size: 1rem;
            font-family: 'Muli', sans-serif;
            outline: none;
          }
          button {
            color: #fff;
            background-color: $brand-color;
            padding: 16px 20px;
            border: 1px solid transparent;
            font-size: 0.9rem;
            letter-spacing: 0.2rem;
            font-weight: 400;
            text-transform: uppercase;
            outline: 0;
            border-radius: 0;
            box-sizing: border-box;
            display: inline-block;
          }
          &.half {
            display: block;
            input {
              width: 100%;
              margin-bottom: 1rem;
              // @media (max-width: 991px){
              //     width: 100%;
              //     margin-bottom: 1rem;
              // }
            }
          }
        }
      }
    }
  }
}

.navigation {
  padding: 2rem 0;
  background: #efefef;
  margin-bottom: 3rem;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        color: $brand-color;
        span {
          color: $brand-color;
        }
      }
    }
  }
}

.info {
  display: flex;
  flex-wrap: nowrap;
  @media (max-width: 991px) {
    flex-wrap: wrap;
  }
  .img-sec {
    width: 50%;
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 991px) {
      width: 100%;
      height: 15rem;
    }
  }
  .cont-sec {
    width: 50%;

    @media (max-width: 991px) {
      width: 100%;
    }
    .wrap {
      padding: 4rem;
      @media (max-width: 991px) {
        padding: 2rem;
      }
    }
    .title {
      font-size: 42px;
      color: $text-color;
      margin-bottom: 2rem;
      font-weight: 600;
      margin-top: 4rem;
      @media (max-width: 991px) {
        font-size: 30px;
        margin-top: 0rem;
      }
    }
    .content {
      font-size: 16px;
      color: #999;
      margin-bottom: 2rem;
    }
    .read-more {
      background: linear-gradient(to top, #dd4454 0%, #dd9044 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: block;
    }
    &.order {
      @media (max-width: 991px) {
        order: 1;
      }
    }
  }
}

.content {
  position: relative;
  margin-bottom: 4rem;
  .title {
    font-size: 42px;
    color: $text-color;
    margin-bottom: 2rem;
  }
  p.heading {
    font-weight: 500;
    margin-top: 2rem;
    display: block;
    font-size: 1.3rem;
    color: $brand-color;
  }
}

.who-we-are {
  padding: 5rem 0;
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 991px) {
    background-image: none !important;
    min-height: auto;
    padding: 2rem 0;
  }
  .wrap {
    width: 50%;
    margin-top: 6rem;
    @media (max-width: 991px) {
      width: 100%;
      margin-top: 1rem;
    }
    i {
      background: linear-gradient(to top, #dd4454 0%, #dd9044 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2.5rem;
      display: inline-block;
      margin-right: 0.5rem;
    }
    .title {
      font-size: 30px;
      margin-bottom: 1rem;
    }
    .content {
      font-size: 16px;
    }
  }
  &.about {
    .wrap {
      padding-top: 10rem;
      margin-top: 0;
      @media (max-width: 991px) {
        padding-top: 1rem;
        margin-top: 0rem;
      }
    }
  }
}

.our-client {
  padding: 5rem 0;
  background-color: $white;
  text-align: center;
  @media (max-width: 991px) {
    padding: 3rem 0;
  }
  .title {
    font-size: 30px;
    margin-bottom: 4rem;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      margin-right: 2rem;
      margin-bottom: 0;
      border: 2px solid #f2f5f7;
      padding: 50px;
      vertical-align: bottom;
      @media (max-width: 991px) {
        margin-bottom: 2rem;
        margin-right: 0rem;
      }
      &:nth-child(1) {
        img {
          width: 120px;
        }
      }
      &:nth-child(2) {
        padding: 22px 50px;
        @media (max-width: 991px) {
          padding: 22px 70px;
        }
        img {
          width: 80px;
        }
      }
    }
  }
}

footer {
  border-top: 1px solid $text-color;
  padding: 30px 0 5px 0;
  position: relative;
  background-color: $text-color;
  color: $white;
  @media (max-width: 991px) {
    padding: 50px 0 50px 0;
  }
  .wrap {
    display: flex;
    flex-direction: row;
    text-align: justify;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .copy {
      width: 50%;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-align: left;
      @media (max-width: 991px) {
        width: 100%;
        text-align: center;
        order: 1;
      }
    }
    .social {
      width: 50%;
      ul {
        text-align: right;
        margin-top: 0;
        @media (max-width: 991px) {
          text-align: center;
          margin-top: 30px;
          padding-left: 0;
        }
        li {
          display: inline-block;
          margin-left: 20px;
          color: $white;
          @media (max-width: 991px) {
            margin-right: 20px;
            margin-left: 0;
            &.privacy-link {
              display: block;
              margin-bottom: 1rem;
            }
          }
          a {
            display: inline-block;
            vertical-align: text-top;
            color: $white;
            span {
              display: inline-block;
              margin-left: 1rem;
            }
            i {
              font-size: 23px;
            }
            img {
              width: 25px;
            }
          }
        }
      }
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
}
